@import "tailwindcss";

@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-serif: "Lora", "serif";
  --font-sans: "Roboto", "sans-serif";
  --color-notebook-dark-bg: #2b2b2b;
  --color-notebook-dark-txt: #dcdcdc;
  --color-notebook-light-bg: #f9f9f9;
  --color-notebook-light-txt: #3a3a3a;
}

html.dark .astro-code,
html.dark .astro-code span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
}

html {
  overflow-y: scroll;
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

html,
body {
  @apply size-full;
}

body {
  @apply font-sans antialiased;
  @apply flex flex-col;
  @apply bg-notebook-light-bg dark:bg-notebook-dark-bg;
  @apply text-notebook-light-txt/50 dark:text-notebook-dark-txt/75;
}

header {
  @apply fixed top-0 left-0 right-0 z-50 py-5;
  @apply bg-notebook-light-bg/75 dark:bg-notebook-dark-bg/25;
  @apply backdrop-blur-sm saturate-200;
}

main {
  @apply flex-1 py-32;
}

footer {
  @apply py-5 text-sm;
}

article {
  @apply max-w-full prose dark:prose-invert prose-img:mx-auto prose-img:my-auto;
  @apply prose-headings:font-semibold prose-p:font-serif;
  @apply prose-headings:text-notebook-light-txt prose-headings:dark:text-notebook-dark-txt;
}

@layer utilities {
  article a {
    @apply font-sans text-current underline underline-offset-2;
    @apply decoration-notebook-light-txt/15 dark:decoration-notebook-dark-txt/30;
    @apply transition-colors duration-300 ease-in-out;
  }
  article a:hover {
    @apply text-notebook-light-txt dark:text-notebook-dark-txt;
    @apply decoration-notebook-light-txt/25 dark:decoration-notebook-dark-txt/50;
  }
}

html #back-to-top {
  @apply opacity-0 pointer-events-none;
}

html.scrolled #back-to-top {
  @apply opacity-100 pointer-events-auto;
}

/* sliding enter animation */
/* use js script to increment the --stagger value */
@keyframes slide-animation {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-enter {
  --stagger: 0;
  --delay: 150ms;
  --start: 0ms;
  animation: slide-animation 0.7s both 1;
  animation-delay: calc(var(--start) + var(--stagger) * var(--delay));
}
