---
import BackToTop from "@/components/back-to-top.astro";
import Container from "@/components/container.astro";
import { SITE } from "@/consts";
import DesktopSvg from "@/svg/desktop-svg.astro";
import MoonSvg from "@/svg/moon-svg.astro";
import SunSvg from "@/svg/sun-svg.astro";
---

<footer class="animate">
  <Container>
    <div class="relative">
      <div class="absolute right-0 -top-20">
        <BackToTop />
      </div>
    </div>
    <div class="flex justify-between items-center">
      <div>
        &copy; 2025 | {SITE.NAME}
      </div>
      <div class="flex flex-wrap gap-1 items-center">
        <button
          id="light-theme-button"
          aria-label="Light theme"
          class="group size-8 flex items-center justify-center rounded-full"
        >
          <SunSvg
            height={18}
            width={18}
            class="group-hover:stroke-black group-hover:dark:stroke-white transition-colors duration-300 ease-in-out"
          />
        </button>
        <button
          id="dark-theme-button"
          aria-label="Dark theme"
          class="group size-8 flex items-center justify-center rounded-full"
        >
          <MoonSvg
            height={18}
            width={18}
            class="group-hover:stroke-black group-hover:dark:stroke-white transition-colors duration-300 ease-in-out"
          />
        </button>
        <button
          id="system-theme-button"
          aria-label="System theme"
          class="group size-8 flex items-center justify-center rounded-full"
        >
          <DesktopSvg
            height={18}
            width={18}
            class="group-hover:stroke-black group-hover:dark:stroke-white transition-colors duration-300 ease-in-out"
          />
        </button>
      </div>
    </div>
  </Container>
</footer>
