---
import Container from "@/components/container.astro";
import Link from "@/components/link.astro";
import LogoSvg from "@/svg/logo-svg.astro";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between items-center">
      <Link href="/" underline={false}>
        <LogoSvg class="size-10" />
      </Link>
      <nav class="flex gap-1">
        <Link href="/projects">
          projects
        </Link>
        <span>
          /
        </span>
        <Link href="/work">
          work
        </Link>
        <span>
          /
        </span>
        <Link href="/blog">
          blog
        </Link>
        <span>
          /
        </span>
        <Link href="/resume.pdf">
          resume
        </Link>
      </nav>
    </div>
  </Container>
</header>
