---
import { cn } from "@/lib/utils";

type Props = {
  href: string;
  external?: boolean;
  underline?: boolean;
  label?: string;
};

const { href, external, underline = true, label, ...rest } = Astro.props;
---

<a
  href={href}
  aria-label={label}
  target={external ? "_blank" : "_self"}
  class={cn("inline-flex items-center justify-center text-current decoration-black/15 transition-colors duration-300 ease-in-out hover:text-black hover:decoration-black/25 dark:decoration-white/30 hover:dark:text-white hover:dark:decoration-white/50",underline && "underline underline-offset-2")}
  {...rest}
>
  <slot />
</a>
