---
import type { CollectionEntry } from "astro:content";

import { render } from "astro:content";

import { dateRange } from "@/lib/utils";

type Props = {
  entry: CollectionEntry<"work"> & {
    Content: Awaited<ReturnType<typeof render>>["Content"];
  };
  slide: boolean;
};

const { entry, slide } = Astro.props;
---

<li class={slide ? "slide-enter" : ""}>
  <div class="text-sm opacity-75">
    {dateRange(entry.data.dateStart, entry.data.dateEnd)}
  </div>
  <div class="font-semibold text-black dark:text-white">
    {entry.data.company}
  </div>
  <div class="text-sm opacity-75">
    {entry.data.role}
  </div>
  <article>
    <entry.Content />
  </article>
</li>
