---
import ArrowCard from "@/components/arrow-card.astro";
import Container from "@/components/container.astro";
import { PROJECT_CATEGORIES, PROJECT_CATEGORY_LABELS, PROJECTS } from "@/consts";
import PageLayout from "@/layouts/page-layout.astro";
import { getProjects } from "@/lib/data-utils";

const projects = await getProjects();
const projectGroups = PROJECT_CATEGORIES.map(category => ({
  category,
  label: PROJECT_CATEGORY_LABELS[category],
  projects: projects.filter(project => project.data.category === category),
})).filter(group => group.projects.length > 0);
---

<PageLayout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <Container>
    <div class="space-y-12">

      {projectGroups.map(group => (
        <section class="space-y-6">
        <div class="slide-enter font-semibold text-black dark:text-white">
          {group.label}
        </div>
        <ul class="slide-enter flex flex-col gap-4">
          {
            group.projects.map(project => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))
          }
        </ul>
      </section>
      ))}
    </div>
  </Container>
</PageLayout>
