---
import ArrowCard from "@/components/arrow-card.astro";
import Container from "@/components/container.astro";
import { PROJECTS } from "@/consts";
import PageLayout from "@/layouts/page-layout.astro";
import { getProjects } from "@/lib/data-utils";

const projects = await getProjects();
---

<PageLayout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="slide-enter font-semibold text-black dark:text-white">
        Projects
      </div>
      <ul class="slide-enter flex flex-col gap-4">
        {
          projects.map(project => (
            <li>
              <ArrowCard entry={project} />
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</PageLayout>
