---
import { render } from "astro:content";

import Container from "@/components/container.astro";
import WorkCard from "@/components/work-card.astro";
import { WORK } from "@/consts";
import PageLayout from "@/layouts/page-layout.astro";
import { getWorks } from "@/lib/data-utils";

const work = await getWorks();

const workWithContent = await Promise.all(
  work.map(async (item) => {
    const { Content } = await render(item);
    return {
      ...item,
      Content,
    };
  }),
);
---

<PageLayout title={WORK.TITLE} description={WORK.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="slide-enter font-semibold text-black dark:text-white">
        Work
      </div>
      <ul class="flex flex-col space-y-4">
        {
          workWithContent.map(entry => (
            <WorkCard entry={entry} slide={true} />
          ))
        }
      </ul>
    </div>
  </Container>
</PageLayout>
